<div class="team-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">The Team</h3>
        <h4 class="lead"></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/aladdin.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Aladdin Persson</h4>
            <p class="lead">Machine Learning Engineer</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Deep Learning Expert</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">AI Educator</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Problem Solver</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="card card-profile" data-image="profile-image">
          <div class="card-header">
            <div class="card-image">
              <a href="javascript:;">
                <img class="img rounded" src="{{ '/assets/img/faces/sanna.jpg' | relative_url }}">
              </a>
            </div>
          </div>
          <div class="card-body pt-0">
            <h4 class="display-4 mb-0">Sanna Persson</h4>
            <p class="lead">Machine Learning Engineer</p>
            <div class="table-responsive">
              <ul class="list-unstyled ">
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-atom"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Strategic Thinker</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-user-run"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Client Relations Expert</h6>
                    </div>
                  </div>
                </li>
                <li class="py-1">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-danger mr-3">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-1">Business Development</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>