<section class="team-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h3 class="display-3">Our team</h3>
        <p class="lead">Meet the team. We bring together expertise in machine learning, mathematics, medical imaging,
          and computer science to be problem-solving experts.</p>
      </div>
    </div>
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide carousel-team">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left"
                      src="{{ '/assets/img/faces/aladdin.jpg' | relative_url }}" alt="Aladdin Persson">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h3 class="card-title display-3">Aladdin Persson</h3>
                    <div class="lead">
                      Aladdin is a skilled Machine Learning Engineer and passionate educator. He's known for his
                      contributions to the field of machine learning and his popular YouTube channel, where he shares
                      in-depth tutorials and insights on various programming topics.
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Machine Learning Engineer</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Educational Content Creator</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="footer text-left">
                      <a href="https://x.com/aladdin_persson" class="btn btn-twitter btn-sm rounded-circle"
                        target="_blank"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.linkedin.com/in/aladdin-persson-a95384153/"
                        class="btn btn-linkedin btn-sm rounded-circle" target="_blank"><i
                          class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left"
                      src="{{ '/assets/img/faces/sanna.jpg' | relative_url }}" alt="Sanna Persson">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Sanna Persson</h1>
                    <div class="lead">
                      Sanna is a Computer Scientist pursuing a PhD in Medical Imaging at the Royal Institute of
                      Technology in Stockholm. Her research focuses on developing AI-based solutions for analyzing brain
                      connectivity using advanced 3D imaging methods, combining her expertise in computer science with
                      cutting-edge medical research.
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Medical Imaging PhD</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Computer Scientist</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="footer text-left">
                      <a href="https://www.linkedin.com/in/sanna--persson/"
                        class="btn btn-linkedin btn-sm rounded-circle" target="_blank"><i
                          class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="ni ni-bold-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="ni ni-bold-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>